body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

ul li {
  list-style: none;
}

label {
  display: block;
  margin: 0px;
  padding: 10px;
}

input {
  margin: 10px;
  padding: 0px;  
}

input:focus {
  /*border: 5px solid red; */
  outline: 2px solid red;
}

button:hover {
  background: lightblue
}

button:active {
  border: 10px solid gold
}